
.demotable a[href^="#all"], .demotable a[href="#close"] {
  text-decoration: none;
  border-bottom: 1px dashed;
}

[id^="all"] {
  position: fixed;
}
[id^="all"]:target + table a[href^="#all"],
[id^="all"]:not(:target) + table tr:nth-of-type(n+1) a[href="#close"] {
  display: none;
}
