<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css"
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="pageName">Список абитуриентов</div>
      <search>
        <form>
          <label for="search">Поиск:</label>
          <input name="fsearch" id="fsearch">
          <input type="submit" value="Найти">
        </form>
      </search>
    </nav>
    
    <br id="all"/>
    <table class="table demotable">
      <thead>
        
      <tbody>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Номер группы</th>
        <th>Баллов</th>
        <td colspan="3"><a href="#close">[⯅]</a><a href="#all">[⯆]</a>
      </tr>
      <tr>
        <th>Иван</th>
        <th>Иванов</th>
        <th>1010Э</th>
        <th>180</th>
      </tr>
    </table>
  </body>
</html>
